
* {
  margin : 0;
  padding: 0;
}

/*  #0084b4 #314893;;*/
body {
  background-color: rgb(192, 222, 237);
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
 }

 .container {
   width: 1700px;
   display: flex;
   align-items: center;
   justify-content: space-around;
 }


h1 {
  display: flex;
  justify-content: center;
  color:	#940000;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 50px;;
  text-shadow: -2px 2px grey;
  padding: 30px;
}

h2{
  font-family: 'Orbitron', sans-serif;
  font-weight: 800;
  color: #666633;
}

#start-message,
#user-win,
#trump-loses,
#kim-loses {

}

#start-message{
  display: none;
}

 #user-win {
display: none;
 }

 #trump-loses {
  display: none;
 }

 #kim-loses {
  display: none;
 }