
* {
  margin : 0;
  padding: 0;
}

/* header, footer {
  background-color: #314893;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: white;
  line-height: 50px;
  text-align: center;
} */

/*  #0084b4 #314893;;*/

h1 {
  display: flex;
  justify-content: center;
  color: #e92f32;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 50px;;
  text-shadow: -2px 2px grey;
  padding: 30px;
}

h2{
  font-family: 'Orbitron', sans-serif;
  font-weight: 800;
  color: #252936;
}

body {
  background-color: rgb(192, 222, 237);
}


.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
 }

 .container {
   display: flex;
   align-items: center;
   justify-content: space-around;
 }

 .image-box1{
  padding-right: 5%;
 }

 .image-box2{
  padding-left: 5%;
 }

  #start-message{
  display: none;
}

 #user-win {
display: none;
 }

 #trump-wins {
  display: none;
 }

 #kim-wins {
  display: none;
 }