* {
  margin: 0;
  padding: 0;
}

/*  #0084b4 #314893;;*/
body {
  background-color: rgb(192, 222, 237);
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
}

.container {
  width: 1700px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header,
footer {
  background-color: rgba(255, 255, 255, 0.5);
}

footer {
  height: 50px;
}

footer p {
  line-height: 50px;
  text-align: center;
}

h1 {
  display: flex;
  justify-content: center;
  color: #940000;
  font-size: 50px;
  text-shadow: -2px 2px grey;
  padding: 30px;
}

h2 {
  font-family: "Orbitron", sans-serif;
  font-weight: 800;
  color: #940000;
  text-align: center;
  line-height: 60px;
}

h3 {
  text-align: center;
  line-height: 80px;
  font-size: 1.5em;
}

#start-message,
#user-win,
#trump-loses,
#kim-loses {
}

#start-message {
  display: none;
}

#user-win {
  display: none;
}

#trump-loses {
  display: none;
}

#kim-loses {
  display: none;
}

.timer {
  background-color: black;
  width: 220px;
  height: 60px;
  border-radius: 30px;
  margin-bottom: 40px;
}

meter::-webkit-meter-bar {
  /* background: rgb(206, 14, 14);
  -webkit-box-shadow: inset 0 0 2px 2px #555;
  -moz-box-shadow: inset 0 0 2px 2px #555;
  box-shadow: inset 0 0 2px 2px #555; */
}

meter {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  margin-bottom: 60px;
}
